{{ form_start(adForm) }}
    {{ form_row(adForm.name) }}
    {{ form_row(adForm.price) }}
    {{ form_row(adForm.seller) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Сохранить</button>
{{ form_end(adForm) }}